.wrapper {
    max-height: 270px;
    background-color: #454545;
    display:flex;
    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item{
    background-color: grey;
    min-width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    margin-right: 2px;
    padding: 10px;
}