/* RESET NAVIGATEUR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color :  #333;
    list-style: none;
}

/* STYLE GENERAL AU SITE */

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    font-family: "Montez";
}

p {
    font-size: 1em;
    color: #333;
    font-family: "Hind Madurai", sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #6E8641;
    width: 100%;
}

/* ASIDE  */

nav{
    display: flex;
    min-height: calc(100vh - 116px);
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #C3D4A5;
    padding: 10px;
    flex: 1 1 30%;
    
}

nav ul {
    rotate : 270deg;
    /* display: flex; */
    float: left;
}

nav ul li {
   float: right;
   margin: 0 20px;
}

li:hover {
    
    text-decoration: underline;
}


/*  MAIN */

.produits{
    align-items: center;
    display: block;
    flex-wrap : wrap;
    width: 70%;
    justify-content: space-between;
    padding: 0 20px;
}

.detailproduit {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  place-items: center;
  width: 200px;
}

.product {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 30px;
}

.product img {
  height: 200px;
  width: 200px;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #6E8641;
    flex: 2 1 70%;
}

.footer-milieu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 70px;
    background-color: #C3D4A5;
}
#btn {
    padding: 10px 15px;
    background-color: #77B41B;
    color: #F0F0F0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;

}

.section-footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


/*  MEDIA MOBILE */
@media screen and (max-width: 560px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    
}
