/* RESET NAVIGATEUR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color : blue;
}

/* STYLE GENERAL AU SITE */

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    font-family: "Montez";
}

p {
    font-size: 1em;
    color: #333;
    font-family: "Hind Madurai", sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #6E8641;
}

/* ASIDE  */

nav{
    display: flex;
    
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 116px);
    background-color: #C3D4A5;
    padding: 10px;
    flex: 1 1 30%;
    
}

nav ul {
    rotate : 270deg;
    /* display: flex; */
    float: left;
}

nav ul li {
   float: right;
   margin: 0 20px;
}

li:hover {
    
    text-decoration: underline;
}


/*  MAIN */

img {
    display: flex; 
    margin-left: 15%;
    margin-top: auto;
    object-fit: cover;
    
}

.produit{
    align-items: center;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #6E8641;
    flex: 2 1 70%;
}

.footer-milieu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 70px;
    background-color: #C3D4A5;
}
#btn {
    padding: 10px 15px;
    background-color: #77B41B;
    color: #F0F0F0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;

}

.section-footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}


/*  MEDIA MOBILE */
@media screen and (max-width: 1200px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/

}