/* RESET NAVIGATEUR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLE GENERAL AU SITE */

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    font-family: "Montez";
}

p {
    font-size: 1em;
    color: #333;
    font-family: "Hind Madurai", sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #6E8641;
}

/*  MAIN */

main {
    display: flex; 
}

aside{
    width: 15%;
    background-color: #6E8641;
}
.main_container{
    display: flex;
}

nav{
    height: 50%;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(-180deg);
}